body {
    background-color: #E1EFDB !important;
}

.loginBox {
	position: absolute;
	text-align: center;
	width: 20%;
	height: 30%;
	left: 40%;
	top: 5%;
	background-color: #fffdc9;
}

.loginText {
	position: relative;
	margin-top: 3%;
	margin-bottom: 3%;
}

.register {
	position: relative;
	display: inline;
	top: 80%;
}

<<<<<<< HEAD
#test {
    background-color: red;
}

.testmine {
    background-color: red;
}
=======
.four {
	padding: 3% 3% !important;
	margin-top: 6%;
	background-color: #E9DBEF;
	border-radius: 3%;

}

.input {
	width: 100%;
	margin-bottom: 2%;
}

h2 {
	text-align: center;
}

.button {
	float: right;
}

.co-lunch {
    font-size: 4vw !important;
    text-align: center !important;
}
.column {
	margin-top: 1% !important;
}
>>>>>>> bbef32095bc42a3ace4eb7ccc7fe852e42f09196
