.input {
	width: 100%;
	margin-bottom: 2%;
}

h2 {
	text-align: center;
}

.button {
	float: right;
}

.co-lunch {
    font-size: 4vw !important;
    text-align: center !important;
}
.column {
	margin-top: 1% !important;
}
