body {
	/*	position: absolute;
		width: 40%;
		height: 100%;
	*/
		background-color: #FFEECE;
	/*	left: 30%; */
	}

	.popup {
		position: absolute;
		top: 20%;
		left: 40%;
		width: 20%;
		height: 40%;
		visibility: hidden;
		z-index: 3;
	}

	#nimi {
		float: right;
		font-size: 2.5vw;
	}

	#colunch {
		float: left;
		margin-top: 0;
		font-size: 2.5vw;
	}

	#addLunchButton {
		float: left;

		margin-left: 1%;

	}

	@keyframes backgroundgraying {
		from {opacity: 0;}
		to {opacity: 0.5;}
	}

	@-webkit-keyframes backgroundgraying {
		from {opacity: 0;}
		to {opacity: 0.5;}
	}

	.shadowoff {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: gray;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity 1s;
	}

	.shadowon {
		opacity: 0.8;
		visibility: visible;
	}


	.sortbutton {
		margin-left: 1% !important;
		float: left;
	}
	.dropdown {
		visibility: hidden !important;
	}

	.date {
		border-radius: 20px !important;
	}

	.participants {
		width: 19% !important;
	}

.newlunchstyle {
    border-radius: 5px;
    position: relative;
    width: 90%;
    height: 15% !important;
    font-size: 15px;
}

#lunchLocations {
    border-radius: 5px;
    position: relative;
    width: 90%;
    height: 15%;
    font-size: 20px;
}

#newlunchdate {
    border-radius: 5px;
}

.maxinimesi {
	height: 32% !important;
}

.maxarv {
	margin-bottom: 1;
	margin-top: 2% !important;
}