.container {
    height: 80%;
    margin: auto;
    
}
.vasakpool {
    width: 40%;
    float: left;
    height: 90%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 5%;
}


.parempool {
    width: 40%;
    float:left;
  
    height: 90%;
    margin-top: 5%;
   
}


.ulaosa {
    background-color: aliceblue !important;
    height: 15%;
    width: 100%;
}
body {
    background-color: #4B5363 !important;
}

.paneel {
    height: 50%;

}

.dropd {
    width: 99%;
    height: 40px;
}

.nr {
    margin-right: 4%;
    margin-bottom: 0px;
    height: 40px;
}

.post {
    background-color: #4CAF50;
    width: 63.4%;
    float: right;
    float: top;
    height: 40px;
  
}