.container {
    height: 80%;
    margin: auto;
    
}
.vasakpool {
    width: 40%;
    float: left;
    height: 90%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 5%;
}


.parempool {
    width: 40%;
    float:left;
  
    height: 90%;
    margin-top: 5%;
   
}


.ulaosa {
    background-color: aliceblue !important;
    height: 15%;
    width: 100%;
}
body {
    background-color: #4B5363 !important;
}

.paneel {
    height: 50%;

}

.dropd {
    width: 100%;
}

.nr {
    margin-right: 5%;
}