#ylaosa    {
    color:red;   
    height: 20%;
}
    

#vasakpool {
top: 5%;
position: absolute;
width: 50%;
height: 80%;
}

#parempool {
top: 5%;
left: 50%;
width: 50%;
height: 80%;
}

.ui-button {
    position: relative;
    color: red;
    top: 50px;
    left: 420px;
    right: -420px;
  }

.ui_selection_dropdown